html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 100%;
    font-family: "Quicksand", sans-serif;
    background-color: rgb(255, 234, 195);
}

/* header */


.header {
    display: flex;
    background-color:rgba(255, 166, 0, 0.767);
position: sticky;
  top: 0;
  z-index: 999;

}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 600px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

header a:hover {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

/* fim do header */

/* inicio */

.container {
  position: relative;
  overflow: hidden;
}


#imginicio {
  width: 100%;
  display: block;
  transition: opacity 0.4s ease;
}


.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(255, 166, 0);
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}


.texto {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  color: black;
  font-size: 150px;
  font-weight: bold;
  background-color: rgba(255, 166, 0, 0.569);
  padding: 20px;
  border-radius: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.texto:hover {
  font-size: 160px;
}

.texto:hover ~ #imginicio {
  opacity: 0;
}

.texto:hover ~ .overlay {
  opacity: 1;
}

/* fim do inicio */

/* produtos */

.produtos {
    display: flex;
    margin-top: 100px;
    flex-direction: column;

}


.itens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    gap: 200px;
}

.textoprodutos {
    font-size: 60px;
    text-align: center;
    background-color: orange;
    padding: 20px;
    border-radius: 20px;
}

.item {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 280px;  
}

.item p {
    font-size: 20px;
    background-color: orange;
    display: inline-block; /*  mant茅m o fundo s贸 no texto */
    align-self: center;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.item img {
    width: 100%;
    height: 320px;
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid orange;
    transition: 0.3s ease;
}

.item img:hover {
    width: 110%;
}

.item p:hover {
    background-color: rgb(255, 255, 255);
    color: orange;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;

}

#item4 p {
    margin-left: 70px;
}

#item3 p {
     margin-left: 35px;
}

#item2 p {
    margin-left: 40px;
}

/* fim dos produtos */

/* servi莽os */

/* banho e tosa */

.titulobanho {
    display: flex;
    flex-direction: column;
}

.titulobanho p {
    font-size: 50px;
    background-color: orange;
    display: inline-block; /*  mant茅m o fundo s贸 no texto */
    align-self: center;
    padding: 30px;
    border-radius: 20px;

}

.banhoetosaimg img {
    width: 20%;
    border-radius: 20px;
}

.banhoetosaimg {
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexar {
     font-size: 60px;
    text-align: center;
    background-color: orange;
}
.flexar p {
    padding: 20px;
}

.precosbanho {
    display: flex;
    background-color: rgb(255, 166, 0, 0.5);
    font-size: 35px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    transition: 0.3s ease;
}

.precosbanho:hover {
    background-color: orange;
    font-weight: bold;
}

/* fim do banho e tosa */

/* passeios */

.titulopasseio {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.titulopasseio p {
    font-size: 50px;
    background-color: orange;
    display: inline-block; /*  mant茅m o fundo s贸 no texto */
    align-self: center;
    padding: 30px;
    border-radius: 20px;

}

.passeioimg img {
    width: 100%;
    height: 550px; 
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid orange;
    transition: 0.3s ease;
    box-sizing: border-box;   
    aspect-ratio: 8 / 10; 
}

.passeioimg {
    display: flex;
    gap: 30px;
    width: 100%; 
    max-width: 1200px;
    margin-left: 250px;
}

.precospasseio {
    display: flex;
    background-color: rgb(255, 166, 0, 0.5);
    font-size: 30px;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    transition: 0.3s ease;
}

.precospasseio:hover {
    background-color: orange;
    font-weight: bold;
}

/* fim passeios */

/* veterinario */

.titulovet {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.titulovet p {
    font-size: 50px;
    background-color: orange;
    display: inline-block; /*  mant茅m o fundo s贸 no texto */
    align-self: center;
    padding: 30px;
    border-radius: 20px;

}

.vetimg img {
    width: 100%;
    height: 550px; 
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid orange;
    transition: 0.3s ease;
    box-sizing: border-box;   
    aspect-ratio: 8 / 10; 
}

.vetimg {
    display: flex;
    gap: 30px;
    width: 100%; 
    max-width: 1200px;
    margin-left: 250px;
}

.botao {
    color: rgb(0, 0, 0);
    background-color: orange;
    width: 40%;
    height: 40%;
    border: none;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px;
    transition: 0.3s ease;
    
}

.moverbotao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.botao:hover {
    background-color: white;
    color: orange;
    font-size: 30px;
    cursor: pointer;
}

/* fim vet */

/* final */


form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background-color: orange;
    padding: 20px;
    border-radius: 20px;
    margin-top: 200px;
    
}

form p {
    font-size: 25px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

input {
    border-radius: 20px;
    border: none;
    padding: 20px;
    width: 400px;
}

#botaoenviar {
    width: 200px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

#botaoenviar:hover {
    background-color: black;
    color: white;
}

/* fim final */

/* footer */

footer {
    display: flex;
    background-color: rgb(255, 255, 255,0.9);
    margin-top: 400px;
    flex-direction: column;
}

footer img {
    width: 4%;
    cursor: pointer;
}

.petcarefooter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 40px;
}

.redes {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.redes p {
    font-size: 30px;
}



/* media */


@media (max-width: 768px) {

    ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 15px;
    }

    .texto {
        font-size: 60px;
        top: 50%;
    }

    .itens,
    .passeioimg,
    .vetimg,
    .banhoetosaimg {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .item {
        max-width: 90%;
    }

    .item img {
        height: auto;
    }

    .precosbanho,
    .precospasseio {
        flex-direction: column;
        font-size: 22px;
        gap: 20px;
    }

    input {
        width: 90%;
    }

    footer img {
        width: 40px;
    }
}
